body {
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 15px;
}

body * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

a {
}

p {
}

h1 {
}

.base-button {
}

.base-button:hover {
}

.container {
    margin: 0 auto;
    max-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.active {
}